// For showing now playing song from Spotify
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REFRESH_TOKEN=

// For Github
GITHUB_USERNAME=
PORTFOLIO_REPO=

// For notion
NOTION_SECRET=

// For GA 
NEXT_PUBLIC_GA_ID=

GOOGLE_ANALYTICS_VIEW_ID=
GOOGLE_CLIENT_EMAIL=
GOOGLE_CLIENT_ID=
GOOGLE_PRIVATE_KEY=
